<ol class = "follwings">
  <h1>
    <%= gravatar_for user %>
  </h1>
  <h3>
   <%= link_to user.name, user%>
  </h3>
    
  <%= link_to"Followings",followings_user_path(user)%>
  <%= link_to"Followers",followers_user_path(user)%>
</ol>
<br>
<hr>